version: 2.0
jobs:
  build:
    context: OSS
    working_directory: ~/repo
    docker:
      - image: circleci/openjdk:8-jdk

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout
      - run: ./gradlew check
      - run: "[[ \"$CIRCLE_BRANCH\" == master ]] && ./gradlew publish"
